.button
{
    -fx-background-color: #f7399e;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font: 16pt "Verdana";
}
.button:hover
{
    -fx-background-color: #e83083;
}
.label
{
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-size: 16pt "Verdana";
}
#pane_pieces
{
    -fx-background-color: #67495e;
    -fx-border-color: white;
}
.root
{
    -fx-background-color: #2c292b;
}